---
layout: false
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= h(post[:title]) %></title>
  </head>

  <body class="<%= page_classes %>">

    <h1 class="post-title"><%= h(post[:title]) %></h1>
    <span class="post-date">作成日: <%= post[:created_at] %></span>
    <div class="post-content">
      <%= h(post[:content]) %>
    </div>

  </body>
</html>
